.reading{
    color:#F1D130;
    -webkit-transition: color 80ms ease-in;
    -moz-transition: color 80ms ease-in;
    -ms-transition: color 80ms ease-in;
    -o-transition: color 80ms ease-in;
    transition: color 80ms ease-in;
}
.transcript{
    padding:20px 0px;
}
.transcript span{
    cursor: pointer;
}
#player{
    width:auto;
    max-width: 400px;
    margin:20px auto auto auto;
}
audio{
    width:100%;
}
